/lib
/lib-legacy
/node_modules
*.log
/.nyc_output
/coverage
/dist
/dist-debug
/artifacts
/updates
.vs
*.msi
*.nupkg
test/fixtures/**/.fbkpm
/tmp/
/__tests__/fixtures/**/_*
/__tests__/fixtures/request-cache/GET/localhost/.bin
.idea
